[Unit]
Description=VPN via Websocket
After=nginx.service

[Service]
Environment=
Type=simple
PrivateTmp=true
ExecStart=/usr/local/sbin/pytuntaphttp.py -a /etc/pytuntap_passwd.txt -b -c https://home.dyn.vogel.cx/vpn/
Restart=no
User=tunnel
SupplementaryGroups=tunnel

[Install]
WantedBy=multi-user.target
